.hide{
visibility: hidden;
}

.pokedex{
    margin: 25%;
    align-items: center;
    text-align: center;
    background: grey;
    border: 20px red solid;
    display: flex;
    width: 50vw;
}

.single-pokemon{
    border-right: 2px solid;
    padding: 9px;
    width: 25vw;
}